<h1>Pages#home</h1>
<p>Make me a sPlAsH PaGe!</p>
<div class="row-fluid" id="view-port">
  <div id="empathy-view" class="span4">

  </div>

  <div id="unbundling-view" class="span4">

  </div>

  <div id="prototyping-view" class="span4">

  </div>
</div>
