 <h1 id="page-heading"> PROJECT TITLE</h1>

<div id="bread-crumbs">
	<p>You are here: <%= link_to "Home", root_path %> > <%= link_to "Prototyping Index", prototyping_prototype_index_path %> > <%= link_to "Paper Prototyping", prototyping_paper_prototyping_path %> > <%= link_to "Project Title",  prototyping_project_page_path %></p>
</div>


<div class="project-text">
	<p id="paragragh">
		<strong>Description: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
</div>

<div id="container-images">
	<div class="project-image">
		<p>
			Image 1
		</p>
	</div>
	
	<div class="project-image">
		<p>
			Image 2
		</p>
	</div>
	
	<div class="project-image">
		<p>
			Image 3
		</p>
	</div>
	
	<div class="project-image">
		<p>
			Image 4
		</p>
	</div>
</div>

<div class="project-text">
	<p id="paragragh">
		<strong>Description about links: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
</div>

<div class="links">	
	<div class="project-links">
		<a href="#">
			<div class="button">
				<p>
					Sample text for button. 
				</p>
			</div>
		</a>
	</div>

	<div class="project-links">
		<a href="#">
			<div class="button">
				<p>
					Sample text for button. 
				</p>
			</div>
		</a>
	</div>

	<div class="project-links">
		<a href="#">	
			<div class="button">
				<p>
					Sample text for button. 
				</p>
			</div>
		</a>
	</div>

	<div class="project-links">
		<a href="#">
			<div class="button">
				<p>
					Sample text for button. 
				</p>
			</div>
		</a>	
	</div>

	<div class="project-links">
		<a href="#">
			<div class="button">
				<p>
					Sample text for button. 
				</p>
			</div>
		</a>	
	</div>

	<div class="project-links">
		<a href="#">	
			<div class="button">
				<p>
					Sample text for button. 
				</p>
			</div>
		</a>	
	</div>
	<div class="project-links">
		<a href="#">
			<div class="button">
				<p>
					Sample text for button. 
				</p>
			</div>
		</a>	
	</div>
	<div class="project-links">
		<a href="#">
			<div class="button">
				<p>
					Sample text for button. 
				</p>
			</div>
		</a>	
	</div>
</div>