<div class="container">

    <span class="prototype-title">
      <h1 id="page-heading">PROTOTYPING</h1>
    </span>


    <div class="jumbotron prototype-desc">
      <iframe width="560" height="315" src="//www.youtube.com/embed/o_si39QFYKI?list=PLDTDy12tJMUEC2nKPt7NQ48vDFdkPy8d4" frameborder="0" allowfullscreen></iframe>


      <div class="prototype-info-text">
        <p>Laboris dolore cupidatat amet ad culpa enim commodo reprehenderit minim Lorem nisi quis. Dolore sit eiusmod in duis occaecat ullamco laboris Lorem dolor et. Qui nisi aliqua esse aliquip anim ullamco fugiat ex reprehenderit. Elit nisi ullamco laboris esse elit labore. Dolore reprehenderit occaecat ad ex dolor dolor labore magna.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <div class="text-container">
          <h2>Concierge</h2>
          <!-- <div class="mask"> -->
            <p>Amet anim amet culpa labore pariatur consequat.
              Veniam enim Lorem Lorem ipsum consectetur veniam mollit anim.
              Ex exercitation Lorem veniam incididunt elit minim sit deserunt aliquip tempor consectetur aliquip cillum.
              Reprehenderit nulla irure non pariatur magna est.</p>
          <!-- </div> -->
        </div>
      </div>

      <div class="col-md-5 col-md-offset-2">
        <a href="/prototyping/paper-prototyping">
        <div class="text-container">
          <h2>Paper</h2>
          <!-- <div class="mask"> -->
            <p>Aliquip in velit pariatur cupidatat proident.
              Cupidatat consequat et duis pariatur cillum.
              Sint sint qui sit consectetur reprehenderit labore exercitation non incididunt.
              Lorem cupidatat dolor reprehenderit elit voluptate minim sint laboris.
              Aliquip sint pariatur do ut velit magna dolore ipsum amet sunt.
              Consequat consectetur enim et pariatur aliquip voluptate et dolor voluptate elit ut.
              Labore elit officia incididunt minim magna.å</p>
        </div>
         </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <div class="text-container">
          <h2>Wizard of Oz</h2>

            <p>Quis velit cillum dolor irure veniam cillum Lorem eu laborum cupidatat consectetur ullamco.
              Proident ea culpa Lorem qui cupidatat minim duis veniam consequat laborum ex.
              Aliqua est elit incididunt do occaecat ex ex officia proident ullamco commodo deserunt reprehenderit ex.
              Nisi culpa non cillum veniam reprehenderit. Sunt velit esse exercitation eu ut nulla.
              Incididunt aliqua enim dolor minim minim mollit in.</p>

        </div>
      </div>


      <div class="col-md-5 col-md-offset-2">
        <div class="text-container">
          <h2>Experiences</h2>
          <!-- <div class="mask"> -->
            <p>Ut est pariatur non aliqua aute et deserunt quis velit et officia elit amet proident.
              Ad qui laborum nulla veniam laborum duis.
              Tempor et eu aliquip mollit officia quis sit qui eiusmod anim fugiat enim.
              Consectetur adipisicing eiusmod fugiat adipisicing incididunt.
              Aliqua qui ex ex aute proident.</p>
          <!-- </div> -->
        </div>
      </div>
    </div>
</div>
