// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*-----------------------------------------*/
/*----------------Launch Box---------------*/
/*-----------------------------------------*/

body header #page-header{
  text-align: center;
  margin: 30px auto;

}

main{
  min-height:450px;
  margin: 0 auto;
}

div .tools{
  border:1px solid #a3a3a3;
  min-height: 100px;
}

div #lb-intro{
  border:1px solid #a3a3a3;
}

div #lb-projects{
  border:1px solid #a3a3a3;
}


