html {
	font-family: 'Gotham-book',Montserrat,helvetica, arial;
}

h2 {
	text-align: center;
}
#vid_text {
		height: 30%;
		background: blue;
}

.text {
	font-family: 'Gotham-book',Montserrat,helvetica, arial;
}

#practiced {
		height: 20%;
}

#additionalTools {
		height: 30%;
		margin: auto;
  	position: relative;
}

#additional-tools span {
	width: 30%;
}

#left-col {
		float: left;
}

#center-col {
		float: left;
}

#right-col {
		float: left;
}