html {
	font-family: 'Gotham-book',Montserrat,helvetica, arial;
	color: #5e5e5e;
}

h2 {
	text-align: center;
}

#vid_text {
		padding: 3%; 
		height: 40%;
		width: 100%;
		vertical-align: middle; 
		background: #8DAA33;
}

.text {
	font-family: 'Gotham-book',Montserrat,helvetica, arial; 
	width: 45%;
	padding: 2%;
	vertical-align: middle; 
	float: left;
	margin-right: 3%;
	background: yellow;
}

.video {
	background: red;
	padding: 2%;
	margin: 0 auto;
	float: left;
}

	#pdf_share_btn {
	width:45%;
	height: 5%;
	background: orange;
	padding: 0 11%;
}

#practiced {
		height: 20%;
		clear: both;
}

hr {
	margin-left: 3%;
	margin-right: 3%;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#carousel {
	height: 200px;
}


section #additionalTools {
		height: 20%;
		margin: auto 0;
  	// position: relative;
}

html body #additional-tools {
	margin: 5% auto;
	width: 90%;
	border: 5px solid black;
	height: 40%;
	padding: 7%;
	// background-color: pink;
	min-height: 100%;
}

#three-cols {
	width: 900px; 
	height: 500px;
} // This is for the container of the three divs inside of the div

#left-col {
		float: left;
		height: 200px;
		width: 300px;
		padding-right: 2%;
		padding-left: 2%;
		// background-color: green;
}

#center-col {
	height: 200px; 
	width: 300px; 
	// background-color: green; 
	padding-right: 2%;
	padding-left: 2%;
	float: left;
}

#right-col {
	height: 200px; 
	width: 300px; 
	padding-left: 2%;
	padding-right: 2%;
	// background-color: green; 
	float: left;
}



#additional-tools .btn-default {
	height: 80px;
	color: white;
	width: 255px;
	border: 15px solid white;
	border-color: #2d9ed4;
	background-color: #2d9ed4;
}

// body #left-col button #christina {
// 	padding-bottom: 2%;
// 	margin: 1%;
// }

.share .btn .btn-default {
	background-color: #f37441;
}