<div id="footer">
  <div id="sub-logo">
    <a href="http://4pt0.org">
      <img src="/assets/main-icon.png" alt="4.0 Schools" />
    </a>
  </div>
  <div id="social-media">
    <div class="footer-media">
      <a href="https://twitter.com/4pt0schools" target="_blank">
        <img src="http://4pt0.org/wp-content/themes/eleven13/images/footer_twitter.png" alt="1">
      </a>
    </div>

    <div class="footer-media">
      <a href="https://facebook.com/4.0Schools" target="_blank">
        <img src="http://4pt0.org/wp-content/themes/eleven13/images/footer_facebook.png" alt="1">
      </a>
    </div>

    <div class="footer-media">
      <a href="http://linkedin.com/company/4.0-schools" target="_blank">
        <img src="http://4pt0.org/wp-content/themes/eleven13/images/footer_linkedin.png" alt="1">
      </a>
    </div>

    <div class="footer-media">
      <a href="https://flickr.com/photos/89848701@N04/" target="_blank">
        <img src="http://4pt0.org/wp-content/themes/eleven13/images/icon_flick.png" alt="1">
      </a>
    </div>

    <div class="footer-media">
      <a href="https://soundcloud.com/4pt0schools" target="_blank">
        <img src="http://4pt0.org/wp-content/themes/eleven13/images/icon_soundcloud.png" alt="1">
      </a>
    </div>

    <div class="footer-media">
      <a href="http://youtube.com/4pt0" target="_blank">
        <img src="http://4pt0.org/wp-content/themes/eleven13/images/icon_youtube.png" alt="1">
      </a>
    </div>
  </div>
</div>
