
  <div class="footer">
    <div class="container clearfix">
      <div class="footer-logo">
        <a href="http://4pt0.org">
          <img src="/assets/4pt0-logo-150x115.png" alt="4.0 Schools" />
        </a>
      </div>

      <div class="social-icon-container">
        <div class="footer-social">
          <a href="https://twitter.com/4pt0schools" target="_blank">
            <img src="/assets/footer_twitter.png" alt="Twitter">
          </a>
        </div>

        <div class="footer-social">
          <a href="https://facebook.com/4.0Schools" target="_blank">
            <img src="/assets/footer_facebook.png" alt="Facebook" />
          </a>
        </div>

        <div class="footer-social">
          <a href="http://linkedin.com/company/4.0-schools" target="_blank">
            <img src="/assets/footer_linkedin.png" alt="Linkedin" />
          </a>
        </div>

        <div class="footer-social">
          <a href="https://flickr.com/photos/89848701@N04/" target="_blank">
            <img src="/assets/icon_flick.png" alt="Flickr" />
          </a>
        </div>

        <div class="footer-social">
          <a href="https://soundcloud.com/4pt0schools" target="_blank">
            <img src="/assets/icon_soundcloud.png" alt="Soundclound" />
          </a>
        </div>

        <div class="footer-social">
          <a href="http://youtube.com/4pt0" target="_blank">
            <img src="/assets/icon_youtube.png" alt="Youtube" />
          </a>
        </div>
      </div>
    </div>

  </div>

