<div id="navigation-sticky-wrapper" class="sticky-wrapper is-sticky">
  <nav id="navigation" class="with-image-logo is-sticky" style="position:fixed; top: 0px;">
    <h2 id="logo" style="margin-top:25px; margin-left:65px;">
      <a href="http://4pt0.org">
        <img src="/assets/main-horizontal-logo.png" alt="4.0 Schools" />
      </a>
    </h2>
    <ul id="menu">
          <%#= render 'layouts/navigation_links' %>
          <!-- <li><%#= link_to 'About', page_path('about') %></li> -->
          <li class="current" style="display:none;"><a href="#" onclick="window.location.href='#'">HOME</a></li>
          <li><a href="#">EMPATHY</a></li>
          <li><a href="#">UNBUNDLING</a></li>
          <li><a href="#">PROTOTYPING</a></li>
        </ul>
  
  </nav>
  </div>